node_modules
dist
coverage
.env
.DS_Store
*.log
logs
uploads
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.husky
.husky/pre-commit

#Scripts
scripts-issues
scripts/initialize/create-backend-issues.py
scripts/initialize/create-backend01-issues.py
scripts/initialize/create-labels.py
scripts/initialize/create-swift-smart-contract-issues.py

#Context
.contextSwiftFrontend
.contextSwiftSmartContract

# Stryker Mutation Testing
.stryker-tmp
reports/
